* Extras
 * Application Specific CSS
 * ------------------------------------------------------------------------------------------- */

body {
  	font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #373737;
}

.muted {
	opacity: 0.5;
}

.beaten {
	opacity: 0.8;
}

.silent {
	opacity: 0.2;
}

.welcome {
	line-height: 5px;
}

.centered {
	text-align: center;
}

.show {
	display: none;
}
.upload {
	padding-left: 36px;
	margin-top: -5px;
}

.welcome {
	margin-top: 30px;
}

.files {
	margin-top: 40px;
}
.medium-text {
	font-size: 18px;
}

.large-text {
	font-size: 30px;
}

.huge-text {
	font-size: 36px;
}

.upload-text {
	font-size: 24px;
}

.strike {
	text-decoration: line-through;
}

.hint {
	padding-top: 8px;
}

.title-image {
	background-image: url('/static/imgs/title.png');
	height: 62px;
	width: 166px;
	padding: 26px;
	margin-top: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.lock-image {
	background-image: url('/static/imgs/lock.png');
	height: 156px;
	width: 130px;
	padding: 40px;
	margin-top: 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.clock-image {
	background-image: url('/static/imgs/clock.png');
	height: 156px;
	width: 130px;
	padding: 40px;
	margin-top: 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}

.upload-button {
	width: 140px;
	height: 20px;
	padding-left: 0px;
	padding-top: 10px;
	border: 3px gray solid;
	text-align: center;
}

#progress-bar {
	background-color: #eb5c0f;
	width: 0;
	height: 12px;
}

.finish-line {
	background-image: url("/static/imgs/flag_alt_clear.png");
	background-repeat: none;
	float: right;
	margin-top: -12px;
	margin-right: -10px;
	width: 7px;
	height: 11px;
	display: none;
}

#song {
  text-transform: uppercase;
}

#url {
	padding-top: 10px;
	border: none;
	font-size: 14px;
	font-family: 'Monaco', 'Andale Mono', 'Courier New', monospace;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}