{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block script %}
<script type="text/javascript">
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            console.log('Upload complete')
            $('<p/>').text(data.result.name).appendTo(document.body);
        }
    });
});
$('#fileupload').bind('fileuploadprogress', function (e, data) {
    var percentage = (100 * data.loaded / data.total) + "%"
    $('#progress-bar').animate({width:percentage});
    console.log(percentage);
    if (percentage == "100%") {
        $('<p/>').text("Monkeys at work").appendTo(document.body);
    };
});
</script>
{% endblock %}
{% block content %}
            <div class="row welcome">
            	<div class="span6 offset5">
            			<p class="muted centered medium-text">THIS IS LYRE</p>
            			<p class="silent centered medium-text">PANTS ON FYRE</p>
            	</div>
            	<div class="span6 offset6 top100 title-image">
            	</div>
            </div>
            <div class="row welcome">
            	<div class="span8 offset4">
            			<p class="centered large-text">LYRE IS FOR SHARING MUSIC</p>
            			<p class="beaten centered large-text">FOR A SHORT AMOUNT OF TIME</p>
            			<p class="centered large-text">IF PEOPLE LOVE IT</p>
            			<p class="beaten centered large-text">THE TIME IS EXTENDED</p>
            	</div>
            </div>
            <div class="row">
                <div class="span6 offset5">
                    <span id="progress-bar">
                </div>
            </div>
            <div class="row files">
      		<div class="span2 offset3">
      			<span class="silent medium-text">TRY IT -----></span>
      		</div>
      		<div class="upload span2 offset1">
                        <span class="upload-button fileinput-button">
                              <span id="upload-helper" class="centered upload-text">PICK SONG</span>
            	            <input id="fileupload" type="file" name="file" data-url="/upload">
                        </span>
                  </div>
            </div>
{% endblock %}