{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
            <div class="row welcome finish">
            	<div class="span6 offset5 hideonclick">
            			<p class="muted centered medium-text">THIS IS LYRE</p>
            			<p class="silent centered medium-text">PANTS ON FYRE</p>
            	</div>
            	<div class="span6 offset6 title-image">
            	</div>
            </div>
            <div class="row welcome finish hideonclick">
            	<div class="span8 offset4">
            			<p class="centered large-text">LYRE IS FOR SHARING MUSIC</p>
            			<p class="beaten centered large-text">FOR A SHORT AMOUNT OF TIME</p>
            	</div>
            </div>
            <div class="row finish">
                <div class="span6 offset5">
                    <div id="progress-bar"></div><div class="finish-line"></div>
                </div>
            </div>
            <div class="row files finish">
      		    <div class="span3 offset2 hint">
      	     		<span id="hint" class="silent medium-text">TRY IT -----></span>
          		</div>
          		<div class="upload span2 offset1">
                        <span class="upload-button fileinput-button">
                            <span id="upload-helper" class="centered upload-text">PICK SONG</span>
            	            <input id="fileupload" type="file" name="file" data-url="/upload">
                        </span>
                </div>
            </div>
            <div class="row files">
            <div id="error" class="medium-text centered error-red"></div>
                <div class="span12 offset2">
                    <p class="centered medium-text"><a id="songpage" href=""><span class="upper" id="song"></span> <span class="upper" id="artist"></span></a></p>
                </div>
                <span id="url" class="centered span8 offset4"></span>
                <span class="centered span8 offset4"><a id="tweet" href=""></a></span>
            </div>
{% endblock %}