<html>
<head>
	<title>Lyre | {% block title %}{% endblock %}</title>
	<link href='//fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
	{% assets "css" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />{% endassets %}
  <meta name="verifyownership" content="79fbf0de7413f1dec778ddde3282c5cf" />
</head>
<body>
    <div class="container">
    	{% block content %}
    	{% endblock %}
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% assets "js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
<link rel="shortcut icon" href="/static/imgs/favicon.ico" />
{% block script %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32115864-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>