{% extends "layout.html" %}
{% block title %}A Secret Heart{% endblock %}
{% block script %}
        <script type="text/javascript">
        var expirationTime = new Date() + 1000;
        console.log(expirationTime)
        $('#timer').countdown({until: expirationTime, compact: true, description: ''});
        </script>
{% endblock %}
{% block content %}
            <div class="row welcome">
        		<div class="span6 offset5">
        			<a href="/">
        				<p class="muted centered medium-text">THIS IS LYRE</p>
        				<p class="silent centered medium-text">PANTS ON FYRE</p>
        			</a>
        		</div>
        		<div class="span6 offset6 top100 lock-image">
        		<!-- <div class="span6 offset6 top100 clock-image"> -->
        		</div>
            </div>
            <div class="row welcome">
        		<div class="span8 offset4">
    				<p class="centered medium-text"><a href="{{ short }}/download">{{ song.title }} - by {{ song.artist }}</a></p>
    			</div>
    			<div class="span6 offset5 time">
    				<!-- <p class="centered medium-text">THIS LINK IS EXPIRED, SORRY.</p> -->
                    <p class="centered medium-text">THIS LINK EXPIRES IN <span id="timer"></span> MINUTES</p>
    				<p class="silent centered medium-text">THE CLOCK IS TICKING</p>
        		</div>
            </div>
{% endblock %}