{% extends "layout.html" %}
{% block title %}A Secret Heart{% endblock %}
{% block script %}
        <script>
        expirationDate = new Date(Date.UTC({{ song.expires|jsdatetime }}))
        $(function() {
        $('span#timer').countdown(expirationDate, function(event) {
            $this = $(this);
            switch(event.type) {
              case "seconds":
              case "minutes":
              case "hours":
                $this.find('span#'+event.type).html(event.value);
                break;
              case "finished":
                $this.fadeTo('slow', .5);
                break;
            }
          });
        });
        </script>
{% endblock %}
{% block content %}
            <div class="row welcome">
        		<div class="span6 offset5">
        			<a href="/">
        				<p class="muted centered medium-text">THIS IS LYRE</p>
        				<p class="silent centered medium-text">PANTS ON FYRE</p>
        			</a>
        		</div>
        		<div class="span6 offset6 top100 lock-image">
        		<!-- <div class="span6 offset6 top100 clock-image"> -->
        		</div>
            </div>
            <div class="row welcome">
        		<div class="span8 offset4">
    				<p class="centered medium-text"><a href="{{ short }}/download">{{ song.title }} - by {{ song.artist }}</a></p>
    			</div>
    			<div class="span6 offset5 time">
    				<!-- <p class="centered medium-text">THIS LINK IS EXPIRED, SORRY.</p> -->
                    <p class="centered medium-text">THIS LINK EXPIRES IN
                        <span id="timer" class="orange">
                            <span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
                    </p>
    				<p class="silent centered medium-text">THE CLOCK IS TICKING</p>
        		</div>
            </div>
{% endblock %}